*{
  line-height: normal !important;
}


.pruduct-inner .mySwiper .swiper-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 !important;
  padding: 0;
  width: 100%;
}
.pruduct-inner .mySwiper .swiper-wrapper .swiper-slide{
  width: 100% !important;
  height: auto;
}
.pruduct-inner .mySwiper2 .swiper-slide{
  width: 100%;
  height: 100%;
}
.card-ui .swiper-pagination-bullet-active{
  background-color: #09273E;
}
.card-ui .swiper-pagination-bullets{
  text-align: end;
  padding-right: 10px;
}
.card-ui.swiper-slide{
  height: 100% !important;
}