*{
  line-height: normal !important;
  scroll-behavior: smooth;
}
.pruduct-inner .mySwiper .swiper-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 !important;
  padding: 0;
  width: 100%;
}
.pruduct-inner .mySwiper .swiper-wrapper .swiper-slide{
  width: 100% !important;
  height: auto;
}
.pruduct-inner .mySwiper2 .swiper-slide{
  width: 100%;
  height: 100%;
}
/* card ui */
.card-ui .swiper-pagination-bullet-active{
  background-color: #09273E;
}
.card-ui .swiper-pagination-bullets{
  text-align: end;
  padding-right: 10px;
}
.card-ui.swiper-slide{
  height: 100% !important;
}
/* footer */
.footer .location{
  line-height: 24px !important;
}
.footer .tel{
  line-height: 30px !important;
}
/* input number type hidden scroll bar css */

/* Hide the default number input arrows */
.shop-cart input[type=number]::-webkit-inner-spin-button,
.shop-cart input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.shop-cart input[type=number] {
  -moz-appearance: textfield;
}

/* Hide the arrows in Edge */
.shop-cart input[type=number]::-webkit-outer-spin-button,
.shop-cart input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input number type hidden scroll bar css */


/* scroll bar order page */
.order ::-webkit-scrollbar{
  display: none;
}